<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>

    <title>Title</title>
</head>
    <body>
    <h1>Login</h1>
    <div class="container">
        <form action="/login" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username"  required="required"/>
                <label for="username">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required="required"/>
            </div>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button type="submit" id="success" class="btn btn-success">Submit</button>
        </form>
    </div>
    </body>
</html>

<!-- https://spring-io.translate.goog/blog/2016/11/21/the-joy-of-mustache-server-side-templates-for-the-jvm?_x_tr_hist=true&_x_tr_sl=en&_x_tr_tl=pt&_x_tr_hl=pt-BR&_x_tr_pto=sc  -->